<div class="container">
  <h3 class="ChecklistHeader">Checklist of Your Current Uploading and Filing</h3>
  <div class="col-md-6">
    <ul>
      <li><input type="checkbox"> Profile Form</li>
      <li><input type="checkbox">Education History Form</li>
      <li><input type="checkbox">Employment History Form</li>
      <li><input type="checkbox">Personal Document</li>
    </ul>

  </div>
  <div class="col-md-6">
    <img class="ChecklistImg" src="\assets\appImg\shutterstock_539154316.jpg">
  </div>
</div>