<div>
  <div>
    <input placeholder="First Name" type="text" class="col-md-3">
    <input placeholder="Last Name" type="text" class="col-md-offset-1 col-md-8">
  </div>
  <div>
    <input placeholder="area code" type="number" class="col-md-4">
    <input placeholder="phone number" type="number" class="col-md-offset-1 col-md-7">
  </div>
  <div>
    <input placeholder="Street Address" type="text" class="col-md-12">
  </div>
  <div>
    <input placeholder="Street Address 2" type="text" class="col-md-12">
  </div>
  <div>
      <input placeholder="city" type="text" class="col-md-5">
      <input placeholder="State/Province" type="text" class="col-md-offset-2 col-md-5">
  </div>
  <div>
      <input placeholder="Zip Code" type="number" class="col-md-4">

      <select class="col-md-offset-1 col-md-7">
        <option value="0">Country</option>
        <option value="1">US</option>
        <option value="2">China</option>
      </select>  
  </div>
  <div>
    <select class="col-md-5" >
      <option value="1">gender</option>
    </select>
    <select class="col-md-offset-2 col-md-5">
        <option value="1">Visa type</option>
      </select>
  </div>
  <div>
    date of birth:<input type="date" placeholder="MM/DD/YYYY"> 
  </div>
</div>